.new-account-container {
    width: 90%;
}

.new-account-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
}

.new-account-form__input {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.new-account-form__input:last-of-type {
    margin-bottom: 2rem;
}

.new-account-form__btn {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

.new-account-link {
    margin-right: auto;
    margin-left: auto;
    width: 95%;
    font-style: italic;
    color: var(--dark);
    text-align: center;
    font-size: 0.9rem;
}

@media (min-width: 576px) {
    .new-account-container {
        width: 80%;
    }

    .new-account-title {
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }
}

@media (min-width: 768px) {
    .new-account-container {
        width: 70%;
    }

    .new-account-title {
        font-size: 2.5rem;
        margin-bottom: 3rem;
    }
}
@media (min-width: 1024px) {
    .new-account-container {
        width: 60%;
    }
}

@media (min-width: 1200px) {
    .new-account-container {
        width: 50%;
    }
}
